Rule 5.5 change suggested by Brian Carpenter

We may have let this one slip...

On 28-Jul-23 10:17, Timothy Winters wrote:
Hi Ted,
If we make 5.5 a MUST, we should remove the note about not having to track this information.

This is a good catch, and draft-buraglio-6man-rfc6724-update should do this:

OLD:
Discussion: An IPv6 implementation is not required to remember
which next-hops advertised which prefixes.  The conceptual models
of IPv6 hosts in Section 5 of [RFC4861] and Section 3 of [RFC4191]
have no such requirement.  Hence, Rule 5.5 is only applicable to
implementations that track this information.

NEW:
An IPv6 implementation is therefore REQUIRED to remember which
next-hops advertised which prefixes, although the conceptual models
of IPv6 hosts in Section 5 of [RFC4861] and Section 3 of [RFC4191]
have no such requirement.

(TBD whether we need Updates: 4861, 4191.)

  Brian

I'd probably somehow require RFC8028 (make it a MUST here), and maybe even simplify the text (the reader can read about the details in RFC8028).

Hmm. I think it would be less controversial but equally effective to say something like:

NEW NEW:
An IPv6 implementation will need to remember which
next-hops advertised which prefixes [RFC8028], although the conceptual models
of IPv6 hosts in Section 5 of [RFC4861] and Section 3 of [RFC4191]
have no such requirement.

That avoids BCP14 keywords - leave that tricky discussion for the node requirements draft.

HI @becarpenter ! I'm fine either way!  FWIW, I suggested to formally require RFC8028 because, at the end of the day, that's what you need to have in place, and by formally requiring it, e.g. if in the future RFC8028 gets updated or revised, it's clear that it's the updated or revised spec that needs to be implemented.

(IOW, RFC8028 is a "dependency" -- you cannot really implement rule 5.5 without implementing RFC8028)

Hi Brian, Bob was ok with the first part but said
"Not sure if the “although….” part needs to be there."
Thoughts?  Is less more?

I agree that the "although..." clause is not strictly necessary in 6724-update.  If @fgont follows up on his more general comments on 8028, the issue would belong there.

@timchown : I'm with Brian's suggestion... Although, as noted, at the end of the day I'm not sure you can really have a MUST for rule 5.5 withough having RFC8028 in place. (and, if it's going to become a MUST in RFC8504... it's gonna be a MUST anyway). -- but up to you guys :-) 

> @becarpenter : do yu mean the update draft?

@fgont, yes, your potential draft